/* ::::: http://static81.transcdn.com/fle/squirt2/files/css/style.css ::::: */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0px; padding: 0px; border: 0px none; font: inherit; vertical-align: baseline; }
body { line-height: 1; }
ol, ul { list-style: outside none none; }
blockquote::before, blockquote::after, q::before, q::after { content: none; }
table { border-collapse: collapse; border-spacing: 0px; }
body { background-image: url('bg2.png')/*tpa=http://realy-story.ru/rendez2/bg2.png*/; min-width: 240px; }
.pc-hide { display: none; }
.clear { clear: both; }
.wrapper { max-width: 972px; margin: 0px auto; background-color: rgb(255, 255, 255); }
.content a { color: rgb(200, 51, 68); font-weight: bold; }
.menu { background-color: rgb(0, 0, 0); margin-left: 1px; }
.navigation { display: table; width: 100%; border-collapse: collapse; border-spacing: 0px; list-style: outside none none; padding: 0px; margin: 0px; background: rgb(58, 58, 58) none repeat scroll 0% 0%; }
.navigation li { display: table-cell; font-size: 13px; font-family: "Cuprum",sans-serif; font-weight: bold; background-color: rgb(0, 0, 0); text-align: center; vertical-align: middle; }
.navigation li a { display: block; padding: 0px; text-decoration: none; line-height: 40px; color: rgb(255, 255, 255); }
.navigation li:nth-child(2) { background: rgb(26, 26, 26) none repeat scroll 0% 0%; }
.drop > a::after { content: ""; position: absolute; right: 10px; top: 18px; border-left: 4px solid transparent; border-top: 4px solid rgb(51, 51, 51); border-right: 4px solid transparent; z-index: 999; }
.drop > a::after { content: ""; border-left: 4px solid transparent; border-top: 4px solid rgb(255, 255, 255); border-right: 4px solid transparent; }
.main { background-color: rgb(246, 246, 246); padding: 9px 11px; }
.bread-crumbs { margin-bottom: 9px; }
.bread-crumbs li { display: inline-block; margin: 0px 2px; }
.bread-crumbs li a { color: rgb(204, 204, 204); font-size: 12px; text-decoration: none; }
.bread-crumbs li a { color: rgb(204, 204, 204); font-size: 12px; }
.bread-crumbs li a span { color: rgb(0, 0, 0); }
.left-bar { width: 71.4%; background-color: rgb(255, 255, 255); padding: 22px 1.7% 10px 1.2%; border: 1px solid rgb(229, 229, 229); float: left; box-sizing: border-box; }
.content h1 { font-size: 18px; line-height: 24px; text-transform: uppercase; font-family: "Cuprum",sans-serif; font-weight: bold; color: rgb(0, 0, 0); margin-bottom: 19px; }
.content h3 { font-size: 15px; font-family: "Cuprum",sans-serif; color: rgb(0, 0, 0); font-weight: bold; text-align: justify; text-indent: 15px; }
.content p { font-size: 15px; font-family: "Cuprum",sans-serif; color: rgb(0, 0, 0); margin-bottom: 15px; text-align: justify; text-indent: 15px; line-height: 1.5; }
.content h3 { font-weight: bold; margin-bottom: 0px; margin-top: -5px; }
p.center { text-align: center; text-indent: 0px; }
img { max-width: 100%; display: block; }
.mc-red > .mc-head-container > ul > li > .mc-comment-count > span { padding: 0px 5px 0px 8px ! important; color: rgb(43, 88, 122) ! important; }
.mc-red > .mc-head-container > ul > li > .mc-comment-count > span.active { font-weight: bold ! important; border-bottom: 3px solid rgb(89, 125, 163) ! important; }
.content p span { font-weight: bold; }
a.order-btn { background: transparent url('button.png')/*tpa=http://realy-story.ru/rendez2/button.png*/ no-repeat scroll 0px 0px / cover ; text-decoration: none; display: inline-block; width: 344px; height: 124px; }
a.order-btn:hover { background-position: 0px -123px; }
.right-bar { float: right; width: 27.4%; box-sizing: border-box; }
.banner { padding: 9px; border: 1px solid rgb(221, 221, 221); }
.publishing { border: 1px solid rgb(221, 221, 221); margin: 0px 0px 11px; padding-right: 10px; }
.tittle-publishing { padding: 12px; border-bottom: 1px solid rgb(221, 221, 221); }
.tittle-publishing h1 { font-size: 13px; font-family: "Cuprum",sans-serif; color: rgb(252, 3, 3); font-weight: bold; text-align: center; }
.content-publication { padding: 15px 0px 6px 12px; }
.publication { padding-bottom: 8px; }
.publication img { float: left; }
.description-pub { overflow: hidden; padding-top: 5px; padding-left: 10px; }
.description-pub p { font-size: 13px; font-family: "Cuprum",sans-serif; color: rgb(0, 0, 0); font-weight: bold; word-break: normal; }
.lower-frame { font-size: 9px; overflow: hidden; font-family: "Cuprum",sans-serif; color: rgb(165, 167, 171); margin-top: 3px; }
.clearfix::before, .clearfix::after, .modal-footer::before, .modal-footer::after { content: " "; display: table; }
.clearfix::after, .modal-footer::after { clear: both; }
@media only screen and (max-width: 767px) {
	.left-bar, .right-bar { width: auto; float: none; }
	.left-bar { margin-bottom: 10px; }
	.lower-frame { display: none; }
	.banner { max-width: 240px; margin: 0px auto 10px; }
	.pc-hide { display: block; }
}
@media only screen and (max-width: 639px) {
	.menu { display: none; }
	.left-bar, .right-bar { width: auto; float: none; }
	a.order-btn { width: 200px; height: 66px; }
	a.order-btn:hover { background-position: 0px -72px; }
	.content p { text-align: left; }
	.content p.center { text-align: center; }
	.content h1 { text-align: center; }
	.content h1::after { content: attr(data-text); border-bottom: 2px solid rgb(255, 0, 0); }
	.content h1 img { display: none; }
}
.cc, .cc h3, .cc h5, .cc p, .cc h1, .cc dl, .cc dt, .cc h6, .cc ol, .cc form, .cc select, .cc option, .cc pre, .cc div, .cc h2, .cc caption, .cc h4, .cc ul, .cc address, .cc blockquote, .cc dd, .cc fieldset, .cc textarea, .cc hr { display: block; }
.cc table { display: table; }
.cc tbody { display: table-row-group; }
.cc tr { display: table-row; }
.cc td { display: table-cell; }
.cc ul { list-style-type: none ! important; }
.cc li { display: list-item; min-height: auto ! important; min-width: auto ! important; }
.cc a, .cc a *, .cc input[type="submit"], .cc input[type="radio"], .cc input[type="checkbox"], .cc select { cursor: pointer ! important; }
.cc a:hover { text-decoration: none ! important; }
.cc button, .cc input[type="submit"] { height: auto ! important; text-align: center ! important; }
.cc li::before, .cc li::after { content: "" ! important; }
.cc input, .cc select { vertical-align: middle ! important; }
.cc select, .cc textarea, .cc input { border: 1px solid rgb(204, 204, 204) ! important; }
.cc table { border-collapse: collapse ! important; border-spacing: 0px ! important; }
.cc { font-size: 13px ! important; line-height: 18px ! important; direction: ltr ! important; text-align: left ! important; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif ! important; color: rgb(51, 51, 51) ! important; font-style: normal ! important; font-weight: normal ! important; text-decoration: none ! important; list-style-type: disc ! important; }
@font-face {
	font-family: "FontAwesome";
	font-style: normal;
	font-weight: normal;
	src: url('fontawesome-webfont.eot')/*tpa=http://realy-story.ru/rendez2/fontawesome-webfont.eot*/ format("embedded-opentype"), url('fontawesome-webfont.woff')/*tpa=http://realy-story.ru/rendez2/fontawesome-webfont.woff*/ format("woff"), url('fontawesome-webfont.ttf')/*tpa=http://realy-story.ru/rendez2/fontawesome-webfont.ttf*/ format("truetype"), url('fontawesome-webfont.svg')/*tpa=http://realy-story.ru/rendez2/fontawesome-webfont.svg*/ format("svg");
}
.cc [class^="mcicon-"], .cc [class*=" mcicon-"] { font-family: FontAwesome ! important; font-weight: normal ! important; font-style: normal ! important; text-decoration: inherit ! important; display: inline ! important; width: auto ! important; height: auto ! important; line-height: normal ! important; vertical-align: baseline ! important; background-image: none ! important; background-position: 0px 0px ! important; background-repeat: repeat ! important; margin-top: 0px ! important; }
.cc [class^="mcicon-"]::before, .cc [class*=" mcicon-"]::before { text-decoration: inherit ! important; display: inline-block ! important; }
.cc a [class^="mcicon-"], .cc a [class*=" mcicon-"] { display: inline-block ! important; }
.cc li [class^="mcicon-"], .cc li [class*=" mcicon-"] { display: inline-block ! important; width: 1.25em ! important; text-align: center ! important; }
.cc .mcicon-ok::before { content: "пЂЊ" ! important; }
.cc .mcicon-share::before { content: "пЃ…" ! important; }
.cc .mcicon-exclamation-sign::before { content: "пЃЄ" ! important; }
.cc .mcicon-thumbs-up::before { content: "п‚‡" ! important; }
.cc .mcicon-thumbs-down::before { content: "п‚€" ! important; }
.cc .mcicon-rss::before { content: "п‚ћ" ! important; }
.cc .mcicon-caret-down::before { content: ""; display: inline-block; background: transparent url('index.css')/*tpa=http://realy-story.ru/rendez2/icon-arrow.png*/ no-repeat scroll 0% 0%; width: 9px; height: 5px; vertical-align: top; position: relative; top: 5px; }
.cc .mcicon-envelope::before { content: "пЂѓ" ! important; }
.cc .mcicon-envelope-alt::before { content: "пѓ " ! important; }
.cc .mcicon-smile-o::before { content: "п„" ! important; }
.cc .mcicon-picture::before { content: ""; display: inline-block; background: transparent url('http://bloglife.name/9166/realy-story/icon-img.png')/*tpa=http://realy-story.ru/rendez2/icon-img.png*/ no-repeat scroll 0% 0%; width: 17px; height: 13px; vertical-align: top; position: relative; top: 0px; }
.cc .mcicon-picture:hover::before { opacity: 0.85; }
.cc .mcicon-comments::before { content: "п‚†" ! important; }
.cc .mcicon-star::before { content: "пЂ…" ! important; }
.cc .mcicon-star-o::before { content: "пЂ†" ! important; }
.cc .mcicon-star-half-o::before { content: "п„Ј" ! important; }
.cc .mcicon-search::before { content: "пЂ‚" ! important; }
.cc .mcicon-caret-left::before { content: "пѓ™" ! important; }
.cc .mcicon-caret-right::before { content: "пѓљ" ! important; }
.cc .mcicon-pencil::before { content: "пЃЂ" ! important; }
.cc .mcicon-lock::before { content: "пЂЈ" ! important; }
.cc .mcicon-unlock::before { content: "п‚њ" ! important; }
.cc .mcicon-save::before { content: "пѓ‡" ! important; }
.cc .mcicon-undo::before { content: "пѓў" ! important; }
.cc .mcicon-cog::before { content: "пЂ“" ! important; }
.cc .mcicon-trash::before { content: "пЂ”" ! important; }
.cc .mcicon-home::before { content: "пЂ•" ! important; }
.cc .mcicon-time::before { content: "пЂ—" ! important; }
.cc .mcicon-edit::before { content: "пЃ„" ! important; }
.cc .mcicon-ban-circle::before { content: "пЃћ" ! important; }
.cc .mcicon-check-empty::before { content: "п‚–" ! important; }
.cc .mcicon-globe::before { content: "п‚¬" ! important; }
.cc .mcicon-beaker::before { content: "пѓѓ" ! important; }
.cc .mcicon-paper-clip::before { content: "пѓ†" ! important; }
.cc .mcicon-desktop::before { content: "п„€" ! important; }
.cc .mcicon-laptop::before { content: "п„‰" ! important; }
.cc .mcicon-reply::before { content: "п„’" ! important; }
.cc .mcicon-linux::before { content: "п…ј" ! important; }
.cc .mcicon-shield::before { content: "п„І" ! important; }
.cc .mcicon-bug::before { content: "п†€" ! important; }
.cc .mcicon-ok-o::before { content: "пЃќ" ! important; }
.cc .mcicon-meh-o::before { content: "п„љ" ! important; }
.cc .mcicon-user::before { content: "пЂ‡" ! important; }
.cc .mcicon-check::before { content: "пЃ†" ! important; }
.cc .mcicon-shop::before { content: "пЃє" ! important; }
.cc .mcicon-warning-sign::before { content: "пЃ±" ! important; }
.cc .mcicon-minus-sign::before { content: "пЃ–" ! important; }
.cc .mcicon-share-alt::before { content: "п‡ " ! important; }
.cc .mcicon-check-circle::before { content: "пЃ" ! important; }
.cc .mcicon-plus-sign::before { content: "пЃ•" ! important; }
.cc .mcicon-question-circle::before { content: "пЃ™" ! important; }
.cc .mc-btn { display: inline-block; float: none ! important; padding: 4px 10px ! important; margin-bottom: 0px ! important; font-size: 13px ! important; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif ! important; line-height: 20px ! important; color: rgb(51, 51, 51) ! important; text-align: center ! important; text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.75) ! important; vertical-align: middle ! important; cursor: pointer ! important; outline: 0px none ! important; background-color: rgb(245, 245, 245) ! important; background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(230, 230, 230)) ! important; background-repeat: repeat-x ! important; border-width: 1px ! important; border-style: solid ! important; -moz-border-top-colors: none ! important; -moz-border-right-colors: none ! important; -moz-border-bottom-colors: none ! important; -moz-border-left-colors: none ! important; border-image: none ! important; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgb(179, 179, 179) ! important; border-radius: 4px ! important; box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 2px rgba(0, 0, 0, 0.05) ! important; }
.cc .mc-btn:hover { color: rgb(51, 51, 51) ! important; text-decoration: none ! important; background-color: rgb(230, 230, 230) ! important; background-position: 0px -15px ! important; transition: background-position 0.1s linear 0s ! important; }
.cc .mc-btn:active, .cc .mc-btn.mc-btn-press { background-image: none; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15) inset, 0px 1px 2px rgba(0, 0, 0, 0.05) ! important; }
.cc .mc-attachimg-cnt { position: absolute ! important; bottom: 0px ! important; right: 10px ! important; z-index: 999 ! important; font-size: 15px ! important; }
.cc .mc-attachimg { color: rgb(153, 153, 153) ! important; text-decoration: none ! important; }
.cc .mc-attachimg:hover { color: rgb(51, 51, 51) ! important; text-decoration: none ! important; }
.cc { display: inline-block; width: 100% ! important; position: relative ! important; }
.cc .mc-head-container { display: inline-block ! important; width: 100% ! important; clear: both ! important; margin: 10px 0px 20px ! important; }
.cc .mc-head-container a { color: rgb(153, 153, 153) ! important; }
.cc .mc-head-container a:hover { color: rgb(102, 102, 102) ! important; text-decoration: none ! important; }
.cc .mc-head-container .active a { color: rgb(51, 51, 51) ! important; cursor: default ! important; }
.cc .mc-head-container .mc-comment-count { float: left ! important; font-size: 18px ! important; }
.cc .mc-comment-author { display: block; position: relative ! important; }
.cc .mc-avatar-container { position: absolute ! important; width: 50px ! important; text-align: center ! important; }
.cc .mc-avatar-container img { border: 1px solid rgba(0, 0, 0, 0.1) ! important; border-radius: 3px ! important; height: 42px ! important; width: 42px ! important; margin: 0px ! important; padding: 2px ! important; }
.cc .mc-user-avatar, .cc .mc-comment-avatar { height: 42px ! important; width: 42px ! important; background: rgba(255, 255, 255, 0.4) none repeat scroll 0px 0px ! important; border-radius: 3px ! important; box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12) ! important; margin: 1px ! important; padding: 3px ! important; max-width: none ! important; }
.cc .mc-comment-avatar:hover { cursor: pointer ! important; }
.cc .mc-postbox-container { margin-left: 55px ! important; position: relative ! important; margin-bottom: 10px ! important; }
.cc .mc-editor { border: 1px solid rgb(198, 198, 198) ! important; border-radius: 5px ! important; position: relative ! important; width: auto ! important; margin-bottom: 5px ! important; }
.cc .mc-editor-wrapper { padding: 10px ! important; background: white none repeat scroll 0% 0% ! important; border-radius: 5px ! important; box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16) inset ! important; }
.cc .mc-editor textarea { height: 22px; width: 100% ! important; max-width: none ! important; border: 0px none ! important; color: rgb(51, 51, 51) ! important; font-family: Arial,Helvetica,sans-serif ! important; font-size: 14px ! important; overflow: hidden ! important; resize: none ! important; margin: 0px ! important; outline: 0px none ! important; padding: 0px ! important; background: white none repeat scroll 0% 0% ! important; box-shadow: none ! important; float: none ! important; white-space: pre-wrap ! important; transition: min-height 0.1s ease-in-out 0s ! important; }
.cc .mc-editor-message { position: relative ! important; }
.cc .mc-submit { width: 100% ! important; }
.cc .mc-btn.mc-comment-submit { float: right ! important; }
.cc .mc-comment-container { clear: both ! important; display: block; }
.cc .mc-nav-content { display: inline-block; width: 100% ! important; color: rgb(153, 153, 153) ! important; font-size: 14px ! important; font-weight: bold ! important; margin-top: 10px ! important; padding-bottom: 2px ! important; border-bottom: 2px solid rgb(221, 221, 221) ! important; }
.cc .mc-nav-content > ul > li { float: right ! important; margin-left: 12px ! important; }
.cc .mc-nav-content > ul > li a:hover { color: rgb(102, 102, 102) ! important; text-decoration: none ! important; }
.cc .mc-nav-content .mc-comment-sort { float: left ! important; margin: 0px ! important; }
.cc .mc-nav-content .mc-sort-menu { color: rgb(102, 102, 102) ! important; }
.cc .mc-comment-list { list-style-type: none ! important; margin: 0px ! important; padding: 0px ! important; }
.cc .mc-comment-list li { position: relative ! important; background-image: none ! important; list-style-type: none ! important; margin-top: 20px ! important; }
.cc .mc-comment-body-container { position: relative ! important; width: 100% ! important; overflow: hidden ! important; }
.cc a.mc-comment-seemore { display: block; z-index: 901 ! important; border-top: 1px solid rgb(204, 204, 204) ! important; color: rgb(108, 108, 108) ! important; text-align: center ! important; font-size: 12px ! important; font-weight: 700 ! important; cursor: pointer ! important; text-decoration: none ! important; }
.cc .mc-comment-body { white-space: pre-wrap ! important; text-indent: 15px ! important; padding-top: 5px ! important; text-align: left ! important; word-wrap: break-word ! important; line-height: 20px ! important; }
.cc .mc-theme-standard a { text-decoration: none ! important; }
.cc .mc-theme-standard .mc-comment-body-inner a { text-decoration: underline ! important; color: blue ! important; }
.cc .mc-theme-standard .mc-comment-head { border: 1px solid rgb(221, 221, 221) ! important; border-radius: 5px ! important; padding: 3px ! important; background: rgb(231, 231, 231) -moz-linear-gradient(center bottom , rgb(231, 231, 231) 18%, rgb(245, 245, 245) 82%) repeat scroll 0% 0% ! important; text-align: left ! important; height: auto ! important; line-height: normal ! important; }
.cc .mc-theme-standard .mc-comment-head table { width: 100% ! important; }
.cc .mc-theme-standard .mc-comment-head td { vertical-align: middle ! important; }
.cc .mc-theme-standard .mc-comment-head td.mc-comment-avatar-td { border: 0px none ! important; padding: 0px ! important; width: 1% ! important; }
.cc .mc-theme-standard .mc-comment-head td.mc-comment-user-td { padding: 0px 8px ! important; }
.cc .mc-theme-standard .mc-comment-username { font-size: 13px ! important; position: relative ! important; display: block ! important; }
.cc .mc-theme-standard .mc-comment-username:hover { text-decoration: none ! important; }
.cc .mc-theme-standard .mc-comment-footer { height: 20px ! important; color: rgb(153, 153, 153) ! important; font-size: 12px ! important; margin: 5px 0px 0px ! important; }
.cc .mc-theme-standard .mc-comment-footer a { margin-right: 10px ! important; }
.cc .mc-theme-standard .mc-comment-footer a:hover { color: rgb(51, 51, 51) ! important; }
.cc .mc-controls { display: block; position: absolute ! important; background: rgb(255, 255, 255) none repeat scroll 0px 0px ! important; border: 2px solid rgb(204, 204, 204) ! important; border-radius: 3px ! important; list-style-type: none ! important; margin: 3px 0px 0px ! important; padding: 0px ! important; z-index: 9999 ! important; text-align: left ! important; }
.cc .mc-controls li { list-style: outside none none ! important; padding: 0px ! important; margin: 0px ! important; }
.cc .mc-controls li a { display: block ! important; margin: 0px ! important; padding: 4px 14px ! important; font-size: 13px ! important; text-decoration: none ! important; color: rgba(0, 0, 0, 0.5) ! important; white-space: nowrap ! important; }
.cc .mc-controls li a:hover { background-color: rgb(241, 241, 241) ! important; }
.cc.mc-red .mc-btn { color: rgb(255, 255, 255) ! important; text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25) ! important; background-color: rgb(218, 79, 73) ! important; background-image: linear-gradient(to bottom, rgb(238, 95, 91), rgb(189, 54, 47)) ! important; background-repeat: repeat-x ! important; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25) ! important; }
.cc.mc-red .mc-btn:hover { color: rgb(255, 255, 255) ! important; background-color: rgb(189, 54, 47) ! important; }
@media only screen and (max-width: 639px) {
	.mc-head-container { display: none ! important; }
	.cc .mc-avatar-container { float: none ! important; margin-bottom: 5px ! important; position: relative ! important; left: auto ! important; top: auto ! important; }
	.cc .mc-postbox-container { margin-left: 0px ! important; position: relative ! important; margin-bottom: 10px ! important; }
}
.firebugResetStyles { z-index: 2147483646 ! important; top: 0px ! important; left: 0px ! important; display: block ! important; border: 0px none ! important; margin: 0px ! important; padding: 0px ! important; outline: 0px none ! important; min-width: 0px ! important; max-width: none ! important; min-height: 0px ! important; max-height: none ! important; position: fixed ! important; transform: rotate(0deg) ! important; transform-origin: 50% 50% 0px ! important; border-radius: 0px ! important; box-shadow: none ! important; background: transparent none repeat scroll 0% 0% ! important; pointer-events: none ! important; white-space: normal ! important; }
style.firebugResetStyles { display: none ! important; }
.firebugResetStyles::before, .firebugResetStyles::after { content: "" ! important; }