.form-control .select2-choice .select2-arrow b {
    background: none;
}

#login-form .form-group.required .control-label::after {
    content: ' ';
}

.navbar a.active.navbar-brand::after {
    background-color: #28292a!important;
    width: 100%;
}

.table.detail-view td, .table.detail-view th, .table.detail-view tbody tr td:last-child {
    padding: 22px;
}

.modal-content .alerts-box {
    padding-top: 0;
}

.form-group input[type="file"] {
    margin-bottom: 25px;
}

.table tbody td .empty {
    padding: 16px
}

.no-checkbox-padding .form-group {
    margin: 0px;
    margin-bottom: 30px;
}
.no-checkbox-padding .form-group .checkbox {
    padding: 0px;
}

.table:not(.vertical-options) tbody tr td:last-child {
    padding-left: 22px!important;
}

.form-control .select2-choice .select2-arrow b {
    position: relative;
    background: none!important;
}

.btn-group a.btn {
    line-height: 48px;
    color: white;
}

.panel-default > .panel-heading {
    margin-bottom: 30px!important;
}

.panel-default {
    margin-top: 40px!important;
}

.navbar .navbar-nav.no-active-background > li > .dropdown-menu .active > a.dropdown-toggle,
.navbar .navbar-nav.no-active-background > li > .dropdown-menu .active > a{
    background:  #fff;
    color: #a5a5a8;
}

.navbar .navbar-nav.no-active-background > li > .dropdown-menu .active > a.dropdown-toggle:hover,
.navbar .navbar-nav.no-active-background > li > .dropdown-menu .active > a:hover{
    background:  #28292a;
    color: #fff;
}

.navbar .navbar-nav.no-active-background .dropdown .dropdown-submenu .dropdown-menu .active a {
    background:  #28292a;
    color: #a5a5a8;
}

.navbar .navbar-nav.no-active-background .dropdown .dropdown-submenu .dropdown-menu .active a:hover {
    color: #fff;
}
.panel-body .btn.btn-danger {
    line-height: 46px;
    color: white;
}

.btn.btn-success {
    background: #28292a;
    line-height: 48px;
    color: white;
}

.btn.btn-primary {
    background: #979797;
    line-height: 48px;
}

.btn.btn-success:first-child, .btn.btn-primary:first-child {
    margin-left: 0;
}

.img-preview {
    margin: 0 0 0 30px;
}

.wrap > .navbar {
    position: relative;
}

.file-preview-frame {
    min-width: 130px;
}

.switch {

    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;
}

/* Hide default HTML checkbox */
.switch input {
    display: none;
}

/* The slider */
.swiper {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.language_tabs > .checkbox {
    float: right !important;
}

.swiper:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 16px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .swiper {
    background-color: #000;
}

input:focus + .swiper {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .swiper:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

.hidden_label {
    display: none;
}

.language_tabs > li {
    float: left !important;
}

@media only screen and (max-width: 767px) {
    .language_tabs > li {
        float: none !Important;
    }
}