@import url("/monsterleads/rendez-vous/landings/img/css-family=Roboto-400,700,300&subset=latin,cyrillic.css")/*tpa=http://fonts.googleapis.com/css?family=Roboto:400,700,300&subset=latin,cyrillic*/;
@import url("/monsterleads/rendez-vous/landings/img/css-family=Open+Sans-300,700&subset=cyrillic,latin.css")/*tpa=http://fonts.googleapis.com/css?family=Open+Sans:300,700&subset=cyrillic,latin*/;
html, body, div, span, iframe, h1, h2, h3, h4,
h5, h6, p, blockquote, pre, a, del, em, img,
q, small, strong, sub, sup, b, i, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

del {
  text-decoration: line-through;
}

input, select {
  vertical-align: middle;
}

a {
  background: transparent;
}

a:active, a:hover {
  outline: 0;
}

b, strong {
  font-weight: bold;
}

button, input,
optgroup, select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

select {
  moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*== clearfix ==*/
.clearfix:before,
.clearfix:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

body {
  font: 14px/1 "Roboto", sans-serif;
  color: #000;
  background: #fff;
}

/*===========================================================
****************** Universal and helper classes *************
============================================================*/
.clearfix:before,
.clearfix:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

.wrapper {
  overflow: hidden;
}

.container {
  width: 980px;
  margin: 0 auto;
  position: relative;
  height: 100%;
}

/*price*/
.price-block {
  text-align: center;
}
.price-block span {
  display: block;
  font-size: 20px;
  font-weight: bold;
  color: #ffdc8b;
}
.price-block .price-text {
  margin-left: -15px;
}
.price-block .new-price {
  margin: 10px 0px 11px -5px;
}
.price-block .new-price span {
  font-size: 32px;
}
.price-block .old-price, .price-block .old-price span {
  font-size: 14px;
  color: #9f9c9a;
  font-weight: normal;
  margin-left: -3px;
  text-decoration: line-through;
}
.price-block .old-price span, .price-block .new-price span {
  display: inline;
}
.price-block .old-price span {
  margin-left: 0px;
}

/* button */
.btn, .btn-holder button {
  width: 358px;
  height: 104px;
  position: relative;
  z-index: 200;
  cursor: pointer;
}

.btn-right {
  background: url("/monsterleads/rendez-vous/landings/img//monsterleads/rendez-vous/landings/img/sprite.png")/*tpa=http://d.rendezwouz.com/files/randevy_5/img/sprite.png*/ -76px -29px;
}
.btn-right:hover {
  background: url("/monsterleads/rendez-vous/landings/img/sprite.png")/*tpa=http://d.rendezwouz.com/files/randevy_5/img/sprite.png*/ -457px -29px;
}
.btn-right:active {
  background: url("/monsterleads/rendez-vous/landings/img/sprite.png")/*tpa=http://d.rendezwouz.com/files/randevy_5/img/sprite.png*/ -835px -29px;
}

.btn-left, .btn-holder button {
  background: url("/monsterleads/rendez-vous/landings/img/sprite.png")/*tpa=http://d.rendezwouz.com/files/randevy_5/img/sprite.png*/ -80px -165px;
}
.btn-left:hover, .btn-holder button:hover {
  background: url("/monsterleads/rendez-vous/landings/img/sprite.png")/*tpa=http://d.rendezwouz.com/files/randevy_5/img/sprite.png*/ -485px -165px;
}
.btn-left:active, .btn-holder button:active {
  background: url("/monsterleads/rendez-vous/landings/img/sprite.png")/*tpa=http://d.rendezwouz.com/files/randevy_5/img/sprite.png*/ -863px -165px;
}

/*coundown*/
.countdown {
  position: relative;
  display: inline-block;
}
.countdown p {
  color: #fff;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0 0 13px -14px;
}
.countdown .time span {
  display: inline-block;
  font-size: 32px;
  font-weight: bold;
  width: 62px;
  padding: 4px 0px 27px;
  margin-right: 12px;
  background: #ffdc8b;
  border: 1px solid #ffdc8b;
  color: #000;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.countdown .time span.zero {
  background: none;
  color: #fff;
  border: 1px solid #fff;
}
.countdown .time-desc span {
  position: relative;
  width: 64px;
  top: -25px;
  display: inline-block;
  text-align: center;
  margin-right: 15px;
  font-size: 12px;
  color: #000;
}
.countdown .time-desc span.zero {
  color: #fff;
}

/*discount*/
.discount-image {
  position: absolute;
  top: 0; left: 0;
  width: 187px;
  height: 187px;
  background: url("/monsterleads/rendez-vous/landings/img/sprite.png")/*tpa=http://d.rendezwouz.com/files/randevy_5/img/sprite.png*/ -507px -509px;
  z-index: -1;
}
.discount {
  width: 175px;
  height: 149px;
  text-align: center;
  padding: 38px 0 0 12px;
  color: #fff;
  position: relative;
  z-index: 20;
  
}
.discount .discount-amount {
  font-size: 73px;
  font-weight: bold;
  
}
.discount .discount-percent {
  font-size: 52px;
  font-weight: bold;
  
}
.discount p {
  font-size: 33px;
  font-weight: 300;
  margin: -4px 0 0 -10px;
}

/**** form (universal class) *****/
.form-block {
  position: relative;
}
.form-block form {
  /* form icons*/
}
.form-block form .row {
  margin-bottom: 19px;
  position: relative;
}
.form-block form select, .form-block form .row input {
  display: block;
  border: none;
  margin: 0;
  font-size: 14px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.form-block form select {
  padding: 10px 0px;
  border-left: 37px solid #fff;
  width: 304px;
  line-height: 37px;
}
.form-block form .row input {
  width: 264px;
  padding: 11px 0px 11px 40px;
  line-height: 19px;
}
.form-block form .icon {
  position: absolute;
}
.form-block form .icon-country {
  width: 18px;
  height: 26px;
  background: url("/monsterleads/rendez-vous/landings/img/sprite.png")/*tpa=http://d.rendezwouz.com/files/randevy_5/img/sprite.png*/ -63px -1651px;
  left: 12px;
  top: 7px;
}
.form-block form .icon-name {
  width: 23px;
  height: 22px;
  background: url("/monsterleads/rendez-vous/landings/img/sprite.png")/*tpa=http://d.rendezwouz.com/files/randevy_5/img/sprite.png*/ -63px -1682px;
  left: 11px;
  top: 10px;
}
.form-block form .icon-phone {
  width: 17px;
  height: 27px;
  background: url("/monsterleads/rendez-vous/landings/img/sprite.png")/*tpa=http://d.rendezwouz.com/files/randevy_5/img/sprite.png*/ -63px -1708px;
  left: 14px;
  top: 6px;
}

.btn-holder {
  margin-left: -60px;
  margin-top: -3px;
}
.btn-holder button {
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  cursor: pointer;
  box-sizing: content-box;
  right: -10px;
}

/* placeholder */
input::-webkit-input-placeholder {
  font-style: italic;
}
input:-moz-placeholder {
  /* Firefox 18- */
  font-style: italic;
}
input::-moz-placeholder {
  /* Firefox 19+ */
  font-style: italic;
}
input:-ms-input-placeholder {
  font-style: italic;
}

/*============================================
*************** Block 1 **********************
=============================================*/
.block1 {
  background: url("/monsterleads/rendez-vous/landings/img/block1.jpg")/*tpa=http://d.rendezwouz.com/files/randevy_5/img/block1.jpg*/ 50% 0% no-repeat;
  height: 1516px;
  color: #fff;
}
.block1 .logo {
  text-align: center;
  font-weight: bold;
  padding-top: 100px;
  margin-bottom: 31px;
  position: relative;
}
.block1 .logo .logo-small {
  font-size: 32px;
  color: #ffd468;
  margin-left: -108px;
  letter-spacing: 10px;
}
.block1 .logo .logo-big {
  font-size: 117px;
  margin-top: 1px;
  margin-left: -88px;
  letter-spacing: -3px;
}
.block1 .logo .logo-big .logo-special1 {
  margin-left: 89px;
}
.block1 .logo .logo-big .logo-special2 {
  margin-left: 6px;
}
.block1 .logo .logo-big .logo-special3 {
  margin-left: -5px;
}
.block1 .logo .logo-gum img {
  width: 95px;
  height: 90px;
  position: absolute;
  top: 154px;
  right: 271px;
}
.block1 .logo .logo-img {
  width: 776px;
  height: 45px;
  background: url("/monsterleads/rendez-vous/landings/img/sprite.png")/*tpa=http://d.rendezwouz.com/files/randevy_5/img/sprite.png*/ -8px -336px;
  margin-left: 64px;
  margin-top: 16px;
}
.block1 .price-block {
  margin-left: -58px;
}
.block1 .btn {
  margin-left: 59px;
  margin-bottom: 8px;
}
.block1 .countdown {
  margin-left: 69px;
}
.block1 .result-guaranty .guaranty-percent {
  height: 111px;
  margin-top: -22px;
  margin-left: 20px;
}
.block1 .result-guaranty .guaranty-percent div {
  display: inline-block;
}
.block1 .result-guaranty .guaranty-percent .p-one {
 height: 111px;
  width: 38px;
  background: url("/monsterleads/rendez-vous/landings/img/sprite.png")/*tpa=http://d.rendezwouz.com/files/randevy_5/img/sprite.png*/ -845px -315px;
  margin-right: 22px;
}
.block1 .result-guaranty .guaranty-percent .p-zero {
  width: 97px;
  height: 160px;
  background: url("/monsterleads/rendez-vous/landings/img/sprite.png")/*tpa=http://d.rendezwouz.com/files/randevy_5/img/sprite.png*/;
}
.block1 .result-guaranty .guaranty-percent .p-zero.zero1 {
  margin-right: 26px;
  background-position: -945px -1634px;
}
.block1 .result-guaranty .guaranty-percent .p-zero.zero2{
  background-position: -1087px -1649px;
  position: relative;
  top: 51px;
}
.block1 .result-guaranty .guaranty-percent .p-percent {
  height: 111px;
  width: 88px;
  background: url("/monsterleads/rendez-vous/landings/img/sprite.png")/*tpa=http://d.rendezwouz.com/files/randevy_5/img/sprite.png*/ -1167px -315px;
  margin-left: 21px;
  margin-bottom: -16px;
}
.block1 .result-guaranty .guaranty-text {
  width: 460px;
  height: 45px;
  background: url("/monsterleads/rendez-vous/landings/img/sprite.png")/*tpa=http://d.rendezwouz.com/files/randevy_5/img/sprite.png*/ -411px -1672px;
  margin: 40px 0 0 -9px;
  position: relative;
  top: 73px;
}
.block1 .pluses {
  margin-top: 178px;
  margin-left: -57px;
}
.block1 .pluses ul li {
  font: 300 14px/1 'open sans', 'roboto', sans-serif;
  min-height: 66px;
  padding: 9px 0 0 84px;
  margin-bottom: 3px;
  background: url("/monsterleads/rendez-vous/landings/img/sprite.png")/*tpa=http://d.rendezwouz.com/files/randevy_5/img/sprite.png*/ -723px -495px;
}
.block1 .pluses ul li.plus2 {
  background-position: -723px -573px;
}
.block1 .pluses ul li.plus3 {
  background-position: -723px -649px;
}
.block1 .pluses ul li span {
  font-weight: bold;
  font-size: 24px;
  line-height: 35px;
}

.block1-left {
  float: left;
  width: 490px;
}

.block1-right {
  float: right;
  width: 490px;
}

/* fuze */
.fuze-anim {
  position: absolute;
  width: 284px;
  top: 397px;
  left: 355px;
}
.fuze-anim .fuze {
  width: 284px;
  height: 201px;
  background: url("/monsterleads/rendez-vous/landings/img/sprite.png")/*tpa=http://d.rendezwouz.com/files/randevy_5/img/sprite.png*/ -27px -468px;
}
.fuze-anim .spark {
  width: 37px;
  height: 27px;
  position: absolute;
  top: 185px;
  left: 259px;
  background: url("/monsterleads/rendez-vous/landings/img/sprite.png")/*tpa=http://d.rendezwouz.com/files/randevy_5/img/sprite.png*/ -372px -422px;
}

.block1-bottom {
  margin-top: 10px;
  margin-top: 45px;
  height: 543px;
  position: relative;
}

.components {
  height: 100%;
}
.components ul li {
  position: absolute;
}
.components ul li .comp-img {
  width: 140px;
  height: 140px;
  background: url("/monsterleads/rendez-vous/landings/img/sprite.png")/*tpa=http://d.rendezwouz.com/files/randevy_5/img/sprite.png*/ no-repeat;
}
.components ul li .comp-text {
  font-weight: bold;
  line-height: 16px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 8px;
  margin-left: 2px;
}
.components ul li.comp1 {
  top: 302px;
  left: 99px;
}
.components ul li.comp1 .comp-img {
  background-position: -11px -1824px;
}
.components ul li.comp2 {
  top: 244px;
  left: 290px;
}
.components ul li.comp2 .comp-img {
  background-position: -176px -1824px;
}
.components ul li.comp3 {
  top: 304px;
  left: 480px;
}
.components ul li.comp3 .comp-img {
  width: 174px;
  height: 174px;
  background-position: -355px -1796px;
}
.components ul li.comp3 .comp-text {
  margin-top: 11px;
  margin-left: -8px;
}
.components ul li.comp4 {
  top: 28px;
  left: 609px;
}
.components ul li.comp4 .comp-img {
  background-position: -576px -1824px;
}
.components ul li.comp5 {
  top: 212px;
  right: 135px;
}
.components ul li.comp5 .comp-img {
  background-position: -906px -1824px;
}
.components ul li.comp6 {
  top: 29px;
  right: 48px;
}
.components ul li.comp6 .comp-img {
  background-position: -742px -1824px;
}
.components ul li.comp7 {
  top: 302px;
  right: -13px;
}
.components ul li.comp7 .comp-img {
  background-position: -1083px -1824px;
}

/*============================================
*************** Block 2 **********************
=============================================*/
.block2 {
  background: url("/monsterleads/rendez-vous/landings/img/block2.jpg")/*tpa=http://d.rendezwouz.com/files/randevy_5/img/block2.jpg*/ 50% 0% no-repeat;
  height: 1025px;
  position: relative;
}
.block2 p {
  line-height: 22px;
}

.block2-top {
  text-align: center;
  padding-top: 21px;
  height: 247px;
}
.block2-top h2, .block2-top h3, .block2-top h4 {
  font-size: 32px;
}
.block2-top h2 {
  font-weight: bold;
  line-height: 48px;
  color: #e94d50;
  word-spacing: -1px;
  margin-left: -6px;
  margin-bottom: 6px;
}
.block2-top h3, .block2-top h4 {
  line-height: 42px;
  color: #231f20;
  margin-left: -9px;
}
.block2-top h3 {
  font-weight: bold;
}
.block2-top h4 {
  font-weight: 300;
}
.block2-top p {
  margin-top: 22px;
}

.block2-middle {
  width: 490px;
  height: 470px;
  padding-top: 30px;
  margin-left: 107px;
}
.block2-middle h3 {
  font-size: 24px;
  line-height: 29px;
  font-weight: bold;
  color: #000;
  margin-bottom: 17px;
}
.block2-middle p {
  font-size: 14px;
  margin-bottom: 15px;
}
.block2-middle p.special {
  font-size: 74px;
  line-height: 74px;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
  margin-top: 55px;
  margin-left: -3px;
}

.block2-bottom {
  padding: 21px 0 0 103px;
  height: 236px;
}
.block2-bottom .block2-text {
  padding-bottom: 26px;
}
.block2-bottom .block2-text h3 {
  font-size: 24px;
  font-weight: bold;
  color: #e94d50;
}
.block2-bottom .block2-text .head-bigger {
  font-size: 32px;
  margin-top: 1px;
  margin-bottom: 11px;
}
.block2-bottom .block2-text p {
  margin-left: -7px;
}
.block2-bottom .countdown {
  float: left;
}
.block2-bottom .countdown .time span {
  background: #767286;
  border: 1px solid #767286;
  color: #fff;
}
.block2-bottom .countdown .time span.zero {
  background: #f2cfba;
  color: #fff;
  border: 1px solid #fff;
}
.block2-bottom .countdown .time-desc span {
  color: #fff;
}
.block2-bottom .countdown .time-desc span.zero {
  color: #fff;
}
.block2-bottom .btn {
  float: left;
  margin-left: 38px;
  margin-top: -14px;
}

.block2:after {
  content: '';
  position: absolute;
  bottom: -42px;
  left: 50%;
  margin-left: -21px;
  width: 0;
  height: 0;
  border: 21px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*============================================
*************** Block 3 **********************
=============================================*/
.block3 {
  background: url("/monsterleads/rendez-vous/landings/img/background.jpg")/*tpa=http://d.rendezwouz.com/files/randevy_5/img/background.jpg*/ 50% 0% no-repeat;
  padding-top: 30px;
  /* kupetman*/
  /* no-doctor*/
  /* second doctor*/
}
.block3 h2 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}
.block3 .recommend {
  min-height: 536px;
  position: relative;
  margin-top: 14px;
}
.block3 .recommend .magazines {
  width: 980px;
  height: 459px;
  background: url("/monsterleads/rendez-vous/landings/img/magazines.png")/*tpa=http://d.rendezwouz.com/files/randevy_5/img/magazines.png*/;
  position: relative;
  z-index: 10;
}
.block3 .recommend .shelf {
  width: 1138px;
  height: 212px;
  background: url("/monsterleads/rendez-vous/landings/img/sprite.png")/*tpa=http://d.rendezwouz.com/files/randevy_5/img/sprite.png*/ -17px -761px no-repeat;
  position: relative;
  left: 50%;
  margin-left: -569px;
  margin-top: -96px;
  z-index: 5;
}
.block3 .specialist-opinion {
  position: relative;
  z-index: 20;
}
.block3 .specialist-opinion h3 {
  font-size: 32px;
  font-weight: bold;
}
.block3 .specialist-opinion .opinion {
  background: white;
  padding: 22px 30px 11px;
  margin-top: 16px;
  width: 980px;
  margin-left: -30px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  position: relative;
  z-index: 30;
}
.block3 .specialist-opinion .opinion p {
  line-height: 22px;
  font-weight: 300;
  margin-bottom: 10px;
}
.block3 .specialist-opinion .specialist {
  margin-top: 18px;
}
.block3 .specialist-opinion .specialist-icon {
  position: relative;
  z-index: 20;
}
.block3 .specialist1 {
  margin-top: -48px;
}
.block3 .specialist1 .opinion-wrapper {
  float: left;
  padding-bottom: 57px;
}
.block3 .specialist1 .opinion {
  width: 612px;
  padding: 22px 30px 11px 29px;
}
.block3 .specialist1 .opinion:after {
  content: '';
  position: absolute;
  width: 52px;
  height: 54px;
  top: 44px;
  right: -52px;
  background: url("/monsterleads/rendez-vous/landings/img/sprite.png")/*tpa=http://d.rendezwouz.com/files/randevy_5/img/sprite.png*/ -152px -1657px;
}
.block3 .specialist1 .specialist {
  width: 673px;
  text-align: right;
  margin-left: -30px;
  color: #fef8f6;
  font-weight: 300;
}
.block3 .specialist1 .specialist-icon {
  width: 348px;
  height: 348px;
  float: left;
  margin-left: -23px;
  top: 19px;
  background: url("/monsterleads/rendez-vous/landings/img/doctor1.png")/*tpa=http://d.rendezwouz.com/files/randevy_5/img/doctor1.png*/;
}
.block3 .specialist0 {
  margin-top: -51px;
}
.block3 .specialist0 .opinion-wrapper {
  padding-bottom: 31px;
}
.block3 .specialist0 .opinion {
  margin-top: 17px;
  padding: 18px 30px 11px;
  margin-left: -29px;
  width: 976px;
}
.block3 .specialist0 .opinion:after {
  content: '';
  position: absolute;
  width: 48px;
  height: 30px;
  top: -29px;
  left: 50%;
  margin-left: -91px;
  background: url("/monsterleads/rendez-vous/landings/img/sprite.png")/*tpa=http://d.rendezwouz.com/files/randevy_5/img/sprite.png*/ -292px -1656px;
}
.block3 .specialist0 .specialist {
  margin-top: 30px;
}
.block3 .specialist2 {
  margin-top: -51px;
}
.block3 .specialist2 .opinion-wrapper {
  padding-bottom: 41px;
}
.block3 .specialist2 .opinion {
  padding: 20px 30px 18px;
  width: 430px;
}
.block3 .specialist2 .opinion:after {
  content: '';
  position: absolute;
  width: 52px;
  height: 54px;
  top: 251px;
  right: -51px;
  background: url("/monsterleads/rendez-vous/landings/img/sprite.png")/*tpa=http://d.rendezwouz.com/files/randevy_5/img/sprite.png*/ -222px -1656px;
}
.block3 .specialist2 .specialist {
  margin-top: 15px;
}
.block3 .specialist2 .specialist-icon {
  width: 723px;
  height: 686px;
  position: absolute;
  bottom: 0px;
  right: -188px;
  background: url("/monsterleads/rendez-vous/landings/img/doctor2.png")/*tpa=http://d.rendezwouz.com/files/randevy_5/img/doctor2.png*/ no-repeat;
}

/*============================================
*************** Block 4 **********************
=============================================*/
.block4 {
  background: url("/monsterleads/rendez-vous/landings/img/block4.jpg")/*tpa=http://d.rendezwouz.com/files/randevy_5/img/block4.jpg*/ 50% 0% no-repeat;
  height: 717px;
  color: #e8ccbe;
}
.block4 .comments {
  width: 598px;
  float: right;
  padding-top: 43px;
}
.block4 h2 {
  font-size: 32px;
  font-weight: bold;
  padding-bottom: 20px;
}

.comments .comment {
  margin-top: 22px;
}
.comments .comment p {
  font-weight: 300;
  line-height: 22px;
  margin-bottom: 14px;
}
.comments .comment .meta-author {
  color: #291f2a;
  font-weight: bold;
}

/*============================================
*************** Block 5 **********************
=============================================*/
.block5 {
  background: url("/monsterleads/rendez-vous/landings/img/background.jpg")/*tpa=http://d.rendezwouz.com/files/randevy_5/img/background.jpg*/ 50% 4% no-repeat;
  height: 631px;
}
.block5 .block5-couple {
  width: 732px;
  height: 597px;
  background: url("/monsterleads/rendez-vous/landings/img/sprite.png")/*tpa=http://d.rendezwouz.com/files/randevy_5/img/sprite.png*/ -32px -1014px no-repeat;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -340px;
  z-index: 20;
}

.questions .question {
  padding: 20px;
  background: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  position: absolute;
}
.questions .question h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.questions .question p {
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
}
.questions .question1 {
  width: 322px;
  top: 51px;
  left: -27px;
  z-index: 15;
  padding: 20px 27px 20px 27px;
}
.questions .question2 {
  width: 295px;
  top: 51px;
  right: -25px;
  z-index: 25;
  padding: 21px 19px 23px 27px;
}

/*============================================
*************** Block 6 **********************
=============================================*/
.block6 {
  background: url("/monsterleads/rendez-vous/landings/img/block6.jpg")/*tpa=http://d.rendezwouz.com/files/randevy_5/img/block6.jpg*/ 50% 0% no-repeat;
  height: 385px;
  margin-top: 1px;
  position: relative;
  z-index: 40;
}
.block6 .block6-left {
  float: left;
  margin: 50px 0 0 6px;
}
.block6 .price-block span {
  color: #ab0004;
}
.block6 .price-block .old-price, .block6 .price-block .old-price span {
  color: #000;
}
.block6 .countdown {
  margin-top: 54px;
}
.block6 .countdown p {
  color: #333;
  font-weight: bold;
  margin-bottom: 14px;
}
.block6 .countdown .time span {
  background: #fff;
  margin-right: 4px;
  border: 1px solid #fff;
}
.block6 .countdown .time span.zero {
  background: none;
}
.block6 .countdown .time-desc span {
  margin-right: 8px;
}
.block6 .block6-pack {
  float: left;
  width: 404px;
  height: 50px;
/*  background: url("/monsterleads/rendez-vous/landings/img/../img/sprite.png") -857px -1103px no-repeat;*/
  position: relative;
  top: -104px;
  left: 18px;
  margin: 0 -20px -104px 0;
}
.block6 .block6-pack .discount {
  position: absolute;
top: 147px;
left: 90px;
}
.block6 .form-block {
  float: left;
  float: right;
  margin: 36px -3px 0 0;
}

/*====== footer ===*/
.footer {
  text-align: center;
  margin-bottom: 10px;
  position: relative;
  z-index: 9999;
  line-height: 20px;
}


.text.error {-moz-box-shadow: inset 0 0 20px #854242; -webkit-box-shadow: inset 0 0 20px #854242; box-shadow: inset 0 0 20px #854242;}
/* headings animation */
.animated {
  opacity: 1 !important; 
  filter: alpha(opacity=100) !important;
  -moz-transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 1000ms 0ms;
  -o-transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 1000ms 0ms;
  -webkit-transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 1000ms;
  -webkit-transition-delay: 0ms;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 1000ms 0ms;
}
.animated-left {
  left: 0px !important;
}
.animated-right {
  right: 0px !important;
}

@-webkit-keyframes round {
  0%   {-webkit-transform: rotate(0deg);}
  100%  {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes round {
  0%   {-moz-transform: rotate(0deg);}
  100%  {-moz-transform: rotate(360deg);}
}
@-ms-keyframes round {
  0%   {-ms-transform: rotate(0deg);}
  100%  {-ms-transform: rotate(360deg);}
}
@-o-keyframes round {
  0%   {-o-transform: rotate(0deg);}
  100%  {-o-transform: rotate(360deg);}
}
@keyframes round {
  0%   {transform: rotate(0deg);}
  100%  {transform: rotate(360deg);}
}

.animation-round {
  -webkit-animation-fill-mode: both;
     -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
       -o-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: round;
     -moz-animation-name: round;
    -ms-animation-name: round;
       -o-animation-name: round;
            animation-name: round;
  -webkit-animation-duration: 8s;
     -moz-animation-duration: 8s;
      -ms-animation-duration: 8s;
       -o-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
     -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
       -o-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
     -moz-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
     -o-animation-timing-function: linear;  
      animation-timing-function: linear;
  -webkit-animation-fill-mode: both;
     -moz-animation-fill-mode: both;
      -ms-animation-fill-mode: both;
       -o-animation-fill-mode: both;
          animation-fill-mode: both;  
}

.errorMessage {
  position: absolute;
  z-index: 10000;
  font-size: 13px;
  background: #e74c3c;
  color: #fff;
  padding: 4px 7px 4px;
  margin: -51px 0px 0px 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-family: Arial;
}

@media(max-width: 1000px) {
  .container {
    width: 760px;
  }
  .block1 .logo {
    padding-top: 30px;
  }
  .block1-right {
    float: none;
    margin: auto;
  }
  .block1 .pluses {
    margin: 50px 0;
  }
  .block1 .result-guaranty .guaranty-text {
    margin: 0 auto;
    padding: 40px 0 0;
    position: static;
    height: auto;
  }
  .block1 .result-guaranty .guaranty-percent {
    display: none;
  }
  .block1-left {
    float: none;
    margin: auto;
  }
  .block1 .logo .logo-small {
    display: none;
  }
  .block1 .logo .logo-big {
    margin: 0;
  }
  .block1 .btn {
    margin: auto;
  }
  .block1 .price-block {
    margin: 0;
  }
  .fuze-anim .fuze,
  .fuze-anim .spark {
    display: none;
  }
  .block1 .btn {
    width: 312px;
    margin: 10px auto;
  }
  .block1 .countdown {
    display: block;
    margin: auto;
    width: 330px;
    text-align: center;
  }
  .components ul {
    text-align: center;
  }
  .components ul li {
    position: static;
    width: 140px;
    display: inline-block;
    vertical-align: top;
    margin: 0 10px 20px;
  }
  .components ul li.comp3 {
    width: 200px;
  }
  .block1-bottom {
    margin-top: 150px;
  }
  .block2 {
    background: #f2eee1;
    height: auto;
  }
  .block2-top {
    height: 300px;
  }
  .block2-top h3, .block2-top h4, .block2-top h2 {
    margin: 0;
  }
  .block2-middle {
    margin: auto;
    height: auto;
    width: 100%;
    text-align: center;
  }
  .block2-middle br{
    display: none;
  }
  .block2-middle p.special {
    color: #000;
  }
  .block2-bottom {
    padding-left: 0;
    height: auto;
    margin: 0 0 20px;
    text-align: center;
  }
  .block3 .recommend .magazines {
    width: 760px;
    -webkit-background-size: 760px auto;
    background-size: 760px auto;
    background-repeat: no-repeat;
  }
  .block3 .recommend .shelf {
    display: none;
  }
  .block3 .specialist2 {
    margin: 0;
  }
  .block3 .specialist2 .opinion{
    margin-left: 0;
  }
  .block3 .specialist2 .specialist-icon {
    z-index: -1;
  }
  .block5 .block5-couple {
    z-index: 1;
  }
  .questions .question1 {
    left: 0;
  }
  .questions .question2 {
    right: 0;
  }
  .block6 .block6-pack .discount {
    left: -30px;
  }
  .btn-holder button {
    right: 0;
  }
}

@media(max-width: 760px) {
  .container {
    width: 480px;
  }
  .block1 .logo .logo-big {
    font-size: 100px;
  }
  .block1-bottom {
    display: none;
  }
  .block1 {
    height: 900px;
  }
  .block2-top {
    height: 400px;
  }
  .block2 .container,
  .block4 .container {
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .block2-bottom .countdown {
    float: none;
    display: block;
    margin: 0 auto 20px;
  }
  .block3 .recommend .magazines {
    width: 480px;
    height: 280px;
    -webkit-background-size: 480px auto;
    background-size: 480px auto;
  }
  .block3 .recommend {
    min-height: 300px;
  }
  .block3 .specialist2 .specialist-icon {
    display: none;
  }
  .block3 .specialist2 .opinion {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .block3 .specialist2 .opinion:after {
    content: none;
  }
  .block3 .specialist-opinion h3 {
    text-align: center;
  }
  .block3 .specialist2 .specialist {
    text-align: center;
  }
  .block4 .comments {
    float: none;
    width: 100%;

  }
  .block4 {
    height: auto;
    padding: 40px 0;
    -webkit-background-size: cover;
    background-size: cover;
  }
  .questions .question {
    position: static;
    width: 100%;
    border-radius: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .block5 .block5-couple {
    display: none;
  }
  .block5 {
    height: 550px;
  }
  .block6 {
    height: auto;
    padding: 40px 0;
    -webkit-background-size: cover;
    background-size: cover;
  }
  .block6 .block6-left {
    float: none;
    margin: auto;
  }
  .block6 .block6-pack {
    display: none;
  }
  .block6 .block6-pack .discount {
    display: none;
  }
  .block6 .countdown {
    display: block;
    margin: auto;
    width: 300px;
  }
  .block6 .form-block {
    float: none;
    margin: auto;
    width: 320px;
  }
  .btn-holder {
    margin: 0;
  }
  .btn-holder button {
    position: static;
    margin-left: -50px;
  }
}

@media(max-width: 480px) {
  .container {
    width: 320px;
  }
  .block1 .logo .logo-big {
    font-size: 70px;
  }
  .block1 .result-guaranty .guaranty-text {
    display: none;
  }
  .block1-right {
    width: 100%;
  }
  .block1 .pluses ul li span {
    font-size: 16px;
    line-height: 20px;
  }
  .block1 .pluses {
    margin: 0 0 30px;
  }
  .block1-left {
    width: 100%;
  }
  .block1 {
    height: 760px;
  }
  .block2-top h2 {
    font-size: 32px;
    line-height: 38px;
  }
  .block2-top h3 {
    font-size: 24px;
  }
  .block2-top h4 {
    font-size: 20px;
    line-height: 26px;
  }
  .block2-top {
    height: 450px;
  }
  .block2-middle p.special {
    font-size: 48px;
    line-height: 52px;
  }
  .block2 .countdown {
    overflow: hidden;
    width: 240px;
    margin: auto;
	display:none;
  }
  .block2 .time {
    margin-left: -75px;
  }
  .block2 .time-desc {
    margin-left: -75px;
  }
  .block2-bottom .btn {
    margin: 0;
  }
  .block2-bottom .btn {
    float: none;
    margin-left: -50px;
  }
  .block3 .recommend .magazines {
    width: 320px;
    -webkit-background-size: 320px auto;
    background-size: 320px auto;
  }
  .block3 .recommend {
    min-height: 230px;
  }
  .block3 {
    -webkit-background-size: cover;
    background-size: cover;
  }
  .block6 .countdown {
    overflow: hidden;
    width: 240px;
    margin: auto;
  }
  .block6 .time {
    margin-left: -65px;
  }
  .block6 .time-desc {
    margin-left: -65px;
  }
  .btn-holder button {
    margin-left: -40px;
  }
  .form-block form .row input {
    margin: auto;
  }
}
